body {
    margin-left: 5vw;
    margin-right: 5vw;
    background-image: url("../images/fruits.jpg");
}

header {
    background-color: #666;
    border: #650 solid;
    border-width: 5px 1px;
    padding: 2vw;
    text-align: center;
    color: white;
    vertical-align: middle;
}

h3 {
    color: silver;
}

main {
    min-height: 200px;
}

div {
    padding: 1vw;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    height: 300px;
}

section#input {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 300px;
    background-color: rgb(170, 250, 180);
}

section#output {
    display: block;
    box-sizing: border-box;
    float: right;
    width: 50%;
    height: 300px;
    background-color: rgb(255, 230, 180);
    overflow-y: auto;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.oikealle {
    text-align: right;
}

.vasemmalle {
    text-align: left;
}

.halvin {
    font-weight: bold;
    color: rgb(176, 245, 176);
}

.kallein {
    font-weight: bold;
    color: red;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    border-bottom: saddlebrown solid 1px;
    padding-right: 10px;
}

tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

tr:hover {
    background-color: rgb(230, 230, 230);
}

footer {
    background-color: #666;
    height: 100px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    padding-top: 1vw;
}